/env
/api_keys/secret.py
/api_keys/__pycache__
cluster_dict.pkl
clusterer_1.pkl
clusterer_2.pkl
clusterer_3.pkl
clusterer_60.pkl
keywords_dict_2.pkl
keywords_dict.pkl
tf_idf_2.pkl
tf_idf.pkl
umapped_all.pkl
count.pkl
raw_data/enwiki-latest-abstract1.xml
raw_data/enwiki-latest-abstract2.xml
raw_data/enwiki-latest-abstract3.xml
raw_data/enwiki-latest-abstract4.xml
raw_data/enwiki-latest-abstract5.xml
raw_data/enwiki-latest-abstract6.xml
raw_data/enwiki-latest-abstract7.xml
raw_data/enwiki-latest-abstract8.xml
raw_data/enwiki-latest-abstract9.xml
raw_data/enwiki-latest-abstract10.xml
raw_data/enwiki-latest-abstract11.xml
raw_data/enwiki-latest-abstract12.xml
raw_data/enwiki-latest-abstract13.xml
raw_data/enwiki-latest-abstract14.xml
raw_data/enwiki-latest-abstract15.xml
raw_data/enwiki-latest-abstract16.xml
raw_data/enwiki-latest-abstract17.xml
raw_data/enwiki-latest-abstract18.xml
raw_data/enwiki-latest-abstract19.xml
raw_data/enwiki-latest-abstract20.xml
raw_data/enwiki-latest-abstract21.xml
raw_data/enwiki-latest-abstract22.xml
raw_data/enwiki-latest-abstract23.xml
raw_data/enwiki-latest-abstract24.xml
raw_data/enwiki-latest-abstract25.xml
raw_data/enwiki-latest-abstract26.xml
models/D2V/over150chars_200vec_dbow/d2v.model
models/D2V/over150chars_200vec_dbow/d2v.model.dv.vectors.npy
models/D2V/over150chars_200vec_dbow/d2v.model.syn1neg.npy
models/D2V/over150chars_200vec_dbow/d2v.model.wv.vectors.npy
models/D2V/over150chars_200vec_stripped/d2v.model
models/D2V/over150chars_200vec_stripped/d2v.model.dv.vectors.npy
models/D2V/over150chars_200vec_stripped/d2v.model.syn1neg.npy
models/D2V/over150chars_200vec_stripped/d2v.model.wv.vectors.npy
models/D2V/over150chars_300vec/d2v.model
models/D2V/over150chars_300vec/d2v.model.dv.vectors.npy
models/D2V/over150chars_300vec/d2v.model.syn1neg.npy
models/D2V/over150chars_300vec/d2v.model.wv.vectors.npy
models/SBERT/over150chars/embeddings_gpu_nrml.pkl
models/SBERT/over150chars/embeddings_gpu.pkl
models/SBERT/over150chars/embeddings_nump_nrml.pkl
models/SBERT/over150chars/paraphrase_pairs_6deep.pkl
models/USE/over150chars/all_embeddings.pkl
cleaned_data/abstracts_over150chars_stripped.txt
cleaned_data/abstracts_over150chars.txt
test.txt
test.py
test3.py
test4.py
testr.py
test5.py
raw_data/enwiki-latest-abstract27.xml
